# Server Configuration
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Database (Neon PostgreSQL URL)
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# JWT Configuration
ACCESS_TOKEN_SECRET="very_strong_access_token_secret"
REFRESH_TOKEN_SECRET="very_strong_refresh_token_secret"
ACCESS_TOKEN_TTL="15m"  # 15 minutes
REFRESH_TOKEN_TTL="7d"   # 7 days

# Firebase Configuration
FIREBASE_TYPE=""
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_CLIENT_ID=""
FIREBASE_AUTH_URI=""
FIREBASE_TOKEN_URI=""
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=""
FIREBASE_CLIENT_X509_CERT_URL=""
FIREBASE_UNIVERSE_DOMAIN=""
